<section class="dashboard-container">
<div class="container">
    <h1 class="h4 fw-bold">Hello, User</h1>
    <p class="text-secondary">See your Schemas here</p>

    <div class="row row-cols-2 row-cols-md-4 g-4 mt-3">
        <div class="col">
            <div class="card bg-secondary-subtle rounded-3" style="height: 160px;"></div>
        </div>
        <div class="col">
            <div class="card bg-secondary-subtle rounded-3" style="height: 160px;"></div>
        </div>
        <div class="col">
            <div class="card bg-secondary-subtle rounded-3" style="height: 160px;"></div>
        </div>
        <div class="col">
            <div class="card bg-secondary-subtle rounded-3" style="height: 160px;"></div>
        </div>
        <div class="col">
            <div class="card bg-secondary-subtle rounded-3" style="height: 160px;"></div>
        </div>
        <div class="col">
            <div class="card bg-secondary-subtle rounded-3" style="height: 160px;"></div>
        </div>
        <div class="col">
            <div class="card bg-secondary-subtle rounded-3" style="height: 160px;"></div>
        </div>
        <div class="col">
            <div class="card bg-secondary-subtle rounded-3" style="height: 160px;"></div>
        </div>
    </div>

</div>
</section>