<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar class="header text-white">
      <span class="logo fw-bold fs-3">ColaBD</span>
      <span class="spacer"></span>
      <button mat-button class="nav-item text-white">dashboard</button>
      <button mat-button class="nav-item text-white">create schema</button>
      <button mat-button class="nav-item text-white">account</button>
      <!-- <button mat-button class="nav-item text-white">settings</button> -->
    </mat-toolbar>

    <div class="telas">
      <div *ngIf="estaCarregando$ | async; else conteudo" class="spinner-container">
        <div class="spinner-grow" role="status"></div>
      </div>
  
      <ng-template #conteudo>
        <ng-content></ng-content>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
