<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar class="header text-white">
      <a class="navbar-brand" href="#">
        <img src="logo.png" alt="ColaDB" style="width: 150px">
      </a>

      <span class="spacer"></span>

      <ng-template [ngIf]="usuarioEstaLogado$ | async" [ngIfElse]="naoLogado">
        <button mat-button class="nav-item text-white">
          <a href="/dashboard">dashboard</a>
        </button>

        <button mat-button (click)="logout()" class="nav-item text-white">
          <a>sair</a>
        </button>
      </ng-template>
      <ng-template #naoLogado>
        <button mat-button class="nav-item text-white">
          <a href="/login"></a>
        </button>
      </ng-template>
    </mat-toolbar>

    <div class="main-content">
      <div *ngIf="estaCarregando$ | async; else conteudo" class="spinner-container">
        <div class="spinner-grow" role="status"></div>
      </div>

      <ng-template #conteudo>
        <ng-content></ng-content>
      </ng-template>
    </div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>