$corFundoBtn: #0F212B;

.header{
  background: $corFundoBtn;
}

mat-sidenav-container{
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.spinner-container {
  display: flex;
  justify-content: center;  
  align-items: center;      
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #2c2c2c;
  background-color: rgba(255, 255, 255, 0.7); 
  z-index: 1050;
}

.logo {
  font-size: 14px;
}

.spacer {
  flex: 1;
}

.nav-item {
  text-transform: none;
  font-size: 14px;
}