@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import 'ngx-toastr/toastr';

$corFundoBtn: linear-gradient(135deg, #2c2c2c, #444444);

html,
body {
    height: 100%;
}

*,
*::before,
*::after {
    font-family: 'Poppins', sans-serif !important;
}
