@use 'ngx-toastr/toastr' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$corFundoBtn: linear-gradient(135deg, #2c2c2c, #444444);

html,
body {
    height: 100%;
}

*,
*::before,
*::after {
    font-family: 'Poppins', sans-serif !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }
  