<section class="d-flex tela">
  <div class="script">
    <app-code-editor></app-code-editor>
  </div>
  <div class="diagrama">
    aaaa
  </div>
  <footer class="footer d-flex">
    <h5>DBMS target:</h5>
    <select class="form-select form-select-sm select-sgbd-destino">
      <option selected>Select the DBMS target</option>
      <option value="PostgreSQL">PostgreSQL</option>
      <option value="MySQL">MySQL</option>
      <option value="SQLite">SQLite</option>
    </select>
    <button mat-fab extended class="btn-envio">
      <i class="bi bi-send"></i>
      Send
    </button>
  </footer>
</section>
